
<%- include('partials/header') %>

<link href="/css/signin.css" rel="stylesheet">
 
<body class="text-center">
  <form class="form-signin" action="/new-user"  method="POST" >
  
    <h1 class="h3 mb-3 font-weight-normal">Fill Your Details</h1>
    <label for="inputName" class="sr-only">Name</label>
    <input type="text" name="inputName" id="inputName" class="form-control" placeholder="Enter Your Name" required autofocus>
    <br>
    
  
    <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="genderOption" id="maleOption" value="Male" checked>
        <label class="form-check-label" for="maleOption">
          Male
        </label>
    </div>
    <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="genderOption" id="femaleOption" value="Female">
        <label class="form-check-label" for="femaleOption">
          Female
        </label>
    </div>
    <br><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  
  </form>
</body>


<%- include('partials/footer') %>